html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    p {
        font-size: 20px;
    }
}

/* Code for Alternative Backgrounds */
.thunderbg {
	background: url('../img/thunder.jpg');
  background-size: cover;
	color:white;
}
.drizzlebg {
	background: url('../img/drizzle.jpg');
  background-size: cover;
	color:white;
}
.rainbg {
	background: url('../img/rain.jpg');
  background-size: cover;
	color:white;
}
.snowbg {
	background: url('../img/snow.jpg');
  	background-size: cover;
	color:white;
}
.atmospherebg {
	background: url('../img/atmosphere.jpg');
  background-size: cover;
	color:white;
}
.clearbg {
	background: url('../img/clear.jpg');
  background-size: cover;
	color:white;
}
.cloudbg {
	background: url('../img/cloud.jpg');
  background-size: cover;
	color:white;
}
.extremebg {
	background: url('../img/extreme.jpg');
  background-size: cover;
	color:white;
}
.stndbg {
	background: url('../img/stnd.jpg');
  background-size: cover;
	color:white;
}


.header {
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  z-index: 10;
  line-height: 37px;
}

.header h1 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;    
  margin: 0;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
	text-align: center;
}

.header a {
  padding-right: 20px;
  color: #fff;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}



.weather {
	height: 100%;
}


.weatherdata {
	width: 80%;
	margin: 50px auto;
	text-align:center;
}

