<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Weather App v2</title>
    
    
    
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>

</head>

<body>

  <div class="wrapper container" ng-app="WeatherApp">
    <div class="weather-module col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-2 {{bgclass}}" ng-controller="MainController">
      <header>
        <h3>Local weather for {{weatherdata.name}}!</h3></header>

      <section class="weather-data">
        <p>Temp: {{temp}} &deg; <img ng-src="{{weathericonurl}}"></p>
        <p>Condition: {{weatherdata.weather[0].description}}</p>
        <button class="btn btn-warning" ng-click="temp = tempc">C &deg;</button>
        <button class="btn btn-danger" ng-click="temp = tempf">F &deg;</button>
      </section>
    </div>

  </div>


</body>

</html>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
